# Site Configuration
PUBLIC_SITE_TITLE="A blog for the masses"
PUBLIC_SITE_DESCRIPTION="No nonsense blog"
PUBLIC_SITE_URL="https://patelofthought.com"

# Analytics (optional - choose one)

# Plausible
# PUBLIC_PLAUSIBLE_DOMAIN=yourdomain.com

# Sentry
# PUBLIC_SENTRY_DSN=your_sentry_dsn

# PostHog
PUBLIC_POSTHOG_PROJECT_TOKEN=your_posthog_project_token_here
PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com
